<div class="form-container">
    <form class="form-busca" variant="secondary">
        <h2>Pesquisar</h2>
        <div class="flex-container">
            <mat-form-field class="input-container" appearance="outline">
                <mat-label>Cargo ou palavra-chave</mat-label>                
                <input matInput placeholder="Digite aqui">                
            </mat-form-field>            
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Cidade, estado ou região</mat-label>                
                <input matInput placeholder="Digite aqui">                
            </mat-form-field>            
            <button mat-flat-button color="primary">BUSCAR</button>             
        </div>
    </form>
</div>